.main-nav{
    display: grid;
    grid-template-columns: 7rem 1fr 3fr 1fr 7rem;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
    margin-bottom: 20px;
} 

.menubar {
    display:flex ;
    justify-content:space-evenly;
     padding:10px;
     align-items: center;
     font-size: 23px;
     color: brown;
}


.menubar{
    grid-column: 3/4;
}


#button{
    width: 30%;
    height: 35px;
    margin-top: 8px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
